@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html {
  scroll-behavior: smooth;
}
::selection {
  background-color: lightgreen;
  color: black;
}
h1 {
  font-size: 38px;
}
h2 {
  font-size: 33px;
}
h4 {
  font-size: 20px;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100vw;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e3e6f3;
  align-items: center;
  height: 60px;
  box-shadow: 4px 7px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  z-index: 1000;
  top: 0;
}
.logo {
  padding-left: 30px;
}
.logo a {
  text-decoration: none;
  color: green;
  font-size: 24px;
  font-weight: 500;
  word-spacing: -5px;
}
.navbar {
  display: flex;
  flex-direction: row;
  padding-right: 30px;
  overflow: hidden;
}
.navbar a,
.mobileView a {
  text-decoration: none;
  color: rgb(49, 48, 48);
  padding: 0 15px;
  font-size: 18px;
  font-weight: 400;
}
.navbar li a:hover,
.mobileView a,
.navbar li a.active {
  color: green;
}

.mobileView {
  display: none;
  font-size: 22px;
  align-items: center;
}
.navbar a .ri-close-large-line {
  display: none;
}
 /* header section end here  */
 
 /* product details start here =========== */
#prodetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding-top: 20px;
  margin: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  line-height: 9px;
}
.image-section {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-section img {
  border: 1px solid #add;
}
.main-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.thumbnails img {
  width: 20%;
  border: 2px solid #add;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.details-section>h5 {
  margin-top: 5px;
}
.details-section>select {
  padding: 5px;
}
.details-section>input {
  padding: 5px;
  border-radius: 4px;
  width: 30px;
  border: 1px solid gray;
}

.details-section>p {
  padding-right: 50px;

}
.cartBtn {
  background-color: green;
  color: white;
  border: 2px solid green;
  padding: 5px;
  border-radius: 4px;
}
 /* product details end here =========== */


 /* product section start here  */
#product1 {
  text-align: center;
  line-height: 5px;
}
.pro-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Responsive grid */
  gap: 25px;
  justify-content: center; /* Centers items horizontally */
  /* align-items: stretch; */
  margin: 60px 40px;
}
.pro-container .pro {
  display: flex;
  flex-direction: column;
  /* width: 180px; */
  height: 280px;
  text-align: center;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.1);
  border: 0.11px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.pro-container .pro a {
  text-decoration: none;
  color: black;
}
.pro img {
  display: block;
  width: 100%;
  height: 160px;
  transition: 0.3s;
  border-radius: 5px;
}
.pro img:hover {
  transform: scale(1.1);
}
.pro-container .pro .des {
  margin-top: 15px;
  line-height: 2px;
  /* padding-bottom: 10px; */
  text-align: left;
  padding-left: 10px;
}
.pro-container .pro a i {
  position: absolute;
  right: 10px;
  bottom: 4px;
  /* background-color: lightgray; */
  height: 20px;
  width: 20px;
  padding: 5px;
  border-radius: 50px;
}
.pro-container .pro a i:hover {
  color: green;
}

.pro-container .pro .des .star {
  color: rgb(215, 215, 34);
}
.pro-container .pro .des>h4 {
  color: green;
}

/* product section end here  */

/* pagination start here  */
.pagination {
  margin-bottom: 30px;
}
.pagination .prev,
.pagination .next {
  cursor: pointer;
}
#pageButtons .active {
  background-color: green;
  color: white;
}
#pageButtons:hover {
  cursor: pointer;
}
/* pagination end here  */

/* newsletter start here  */
#newsletter {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin: 40px 20px;
  background-color: #031938;
  color: white;
  line-height: 6px;
  padding: 20px;
}

#newsletter .form {
  margin-top: 30px;
  height: 30px;
  border: 1px solid transparent;
  outline: none;
  font-size: 14px;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: white;
}
#newsletter .form input {
  border: 1px solid transparent;
  outline: none;
  padding: 6px;
}


#newsletter .form button {
  border: none;
  height: 30px;
  outline: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: green;
  color: white;
  padding: 6px;
  cursor: pointer;
}
/* newsletter end here  */

/* footer section start here  */
.footer1 {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px;
}
.footer1 .col h4 {
  margin-bottom: 20px;
}
.footer1 .col a {
  text-decoration: none;
  color: black;
}
.footer1 .col a:hover {
  color: green;
  text-decoration: underline;
}
.footer1 .col i:hover {
  color: green;
  cursor: pointer;
}
.footer1 .col .row>button {
  cursor: pointer;
}
.copyright {
  width: 100vw;
  text-align: center;
  line-height: 4px;
  padding-top: 10px;
  font-size: 13px;
  background-color: #333;
  height: 50px;
  color: lightgray;
}

/* Media query start here  */
@media (max-width:768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    overflow-x: hidden;
    transition: 0.3s;
    background-color: white;
    padding: 0;
    padding-top: 50px;
  }
  .navbar li a {
    padding: 9px;
    display: block;
    width: 100%;
  }
  .navbar li a:hover {
    background-color: beige;
  }
  .mobileView {
    display: flex;
    padding-right: 30px;
  }
  .mobileView i {
    padding-left: 20px;
  }
  .mobileView i:hover {
    /* color: green; */
    cursor: pointer;
  }
  .navbar a .ri-close-large-line {
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .navbar a .ri-close-large-line:hover {
    color: red;
  }
  
  #newsletter {
    display: flex;
    margin: 0;
  }
  .newstext {
    flex: 1.7;
  }
  #newsletter .form {
    flex: 1;
  }
  .newstext p {
    line-height: 25px;
  }
  .footer1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    margin: 20px 30px;
  }
  .copyright {
    width: 100vw;
    text-align: center;
    line-height: 4px;
    padding-top: 10px;
    font-size: 13px;
    background-color: #333;
    height: 50px;
    color: lightgray;
  }

  #newsletter .form {
    display: flex;
    justify-content: space-between;
}

  /* product details page  */
  #prodetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* mobile view/small screen view */
@media (max-width: 428px) {
  .pro-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* justify-content: space-around; */
    justify-content: center;
    gap: 20px;
  }
 
  h2 {
    font-size: 23px;
    margin-top: 0;
    letter-spacing: 1px;
  }

  #newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    margin: 30px 10px;
    line-height: 3px;
    padding: 10px;
  }
  #newsletter .form {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    justify-items: center;
  }

  .footer1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* product details page  */
  #prodetails {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    margin: 10px;
  }

  .img-section img {
    max-width: 90vw;
  } 

.thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.thumbnails img {
  width: 18%;
}

}



